{{ define "main" }}
  <section class="pt-5 pb-2">
  <div class="container">
    <div class="w-full">
     <div class="page-header pb-5">
      <h5 class="font-bold" style="color: white;">
       More than {{ len (where .Site.RegularPages "Section" "==" "cars") }} cars to pick, ready to race!
      </h5>
      <p class="mb-2">
        Thanks to very talented modders around the world that we can experience all type of race cars ranging from Sports car, Prototype to cutting-edge open-wheel cars. With Custom Shader Patch featured extended physics and tire modeling systems, allowing you to take the real racing challenges in an entirely virtual racing world of Assetto Corsa.
        <br><i>Now its time for you to pick a car and hit the road!</i> </p>
    </div>  
    <p class="pt-2"><i class="fa-solid fa-circle-question mr-2"></i><b class="mr-1">Tips:</b> you can click on each car attribute like <i>Nationality, manufacturer logo, car class</i>,... to find cars, tracks with same attribute!</p>
			
    <div id="category-navigation" class="mt-4">
      <ul class="nav nav-tabs nav-justified">
        <li><a href="/tags/formula" class="nav-link">Formula Car</a></li><li><a href="/tags/sports-car" class="nav-link">Sports Car</a></li><li><a href="/tags/le-mans-prototype" class="nav-link">Prototypes</a></li><li><a href="/tags/road" class="nav-link">Road Car</a></li><li><a href="/tags/nascar" class="nav-link">NASCAR</a></li><li><a href="/tags/wec" class="nav-link">FIA WEC</a></li><li><a href="/tags/imsa" class="nav-link">IMSA</a></li>		</ul>
      </div>
  </div>
</section>
  <section class="section pt-2">
    <div class="container w-full">
      <div class="row gx-2 justify-around items-center" style="margin-right: calc(var(--bs-gutter-x) / 2); margin-left: calc(var(--bs-gutter-x) / 0.8);">
        <!-- blog posts -->
        <div class="lg:col-12">
          <div class="row mb-4">
            {{ $paginator:= .Paginate .RegularPages 18}}
            {{ range $paginator.Pages}}
              <div class="md:col-4">
                {{ partial "components/related-card" . }}
              </div>
            {{ end }}
          </div>
          {{ partial "components/pagination.html" . }}
        </div>
        <!-- sidebar -->
      </div>
    </div>
  </section>
{{ end }}
