<footer class="panel panel-default minusBottom" id="#foot">
  <div class="container">
    <div class="row items-center py-10">
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:text-left">
        <!-- navbar brand/logo -->
        <a
          class="navbar-brand inline-block"
          href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>
      </div>
      <div class="lg:col-6 mb-8 text-center lg:mb-0">
        <ul>
          {{ range site.Menus.footer }}
            <li class="m-3 inline-block">
              <a class="font-bold"
                {{ if findRE `^http` .URL }}
                  target="_blank" rel="noopener"
                {{ end }}
                href="{{ if findRE `^#` .URL }}
                  {{ if not $.IsHome }}
                    {{ site.Home.RelPermalink }}
                  {{ end }}{{ .URL }}
                {{ else }}
                  {{ .URL | relLangURL }}
                {{ end }}"
                >{{ .Name }} </a
              >
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:mt-0 lg:text-right flex flex-row">
        <div class="flex flex-row justify-between">
          <div class="mr-4"><a href="/tags/imsa"><img src="/images/imsa.png" style="max-height: 20px; padding-top: 5px;"></a></div>
        <div class="mr-4"><a href="/tags/wec"><img src="/images/wec.png" style="max-height: 20px; padding-top: 5px;"></a></div>
        <div class="mr-4"><a href="/tags/f1"><img src="/images/f1.png" style="max-height: 20px; padding-top: 5px;"></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-border dark:border-darkmode-border border-t py-7">
    <div
      class="text-text-light dark:text-darkmode-text-light container text-center">
      <p>
        <i class="ml-2 fa-xl fa-brands fa-cloudflare mr-4"></i></i>{{ site.Params.copyright | markdownify }} <i class="fa-brands fa-linode ml-2 fa-lg"></i>
      </p>
    </div>
  </div>
</footer>
