{{ define "main" }}
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center" style="padding-bottom: 5rem">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span
            class="text-[8rem] block font-bold text-text-dark dark:text-darkmode-text-dark">
            403
          </span>
          <h1 class="h2 mb-4">Forbidden</h1>
          <div class="content">
            <p>
              Access to this resource on the server is denied!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
